.card {
  max-width: 413px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
  font-family: "poppins" Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__like-button {
  background-image: url(../images/heart.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 5s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
