.card {
  max-width: 413px;
  position: relative;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__delete-btn {
  background-image: url(../images/Delete=Default.svg);
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: opacity 1s;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete=Hover.svg);
}

.card__like-btn {
  background-image: url(../images/heart.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  transition: opacity 1s;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}
.card__like-btn_selected {
  background-image: url(../images/like-selected.svg);
  opacity: 100%;
}

.card__like-btn_selected:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
