.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s ease linear 0s, opacity 0.3s linear 0.3s;
}

.modal_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: 0s, 0s;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__exit-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.modal__exit-btn:hover {
  opacity: 1;
}

.modal__exit-btn_preview {
  top: 0;
  right: -50px;
  position: absolute;
  color: white;
  filter: invert(1);
  cursor: pointer;
}

.modal__exit-btn_preview:hover {
  color: #212121;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  padding: 4px 8px;
  min-width: 135px;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-color: #21212166;
  border-radius: 8px;
  padding: 16px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2121214d;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__save-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 0 18px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.modal__save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-btn {
    max-width: none;
  }

  .modal__exit-btn_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__exit-btn {
    top: 12px;
    right: 12px;
  }
}
